/data-split
/Manoeuvres
/Database
/videomae-base-finetuned-2
/videomae-base-finetuned
*.gif

*.pdf
*.pptx
/doc
/wand
*.png
*.wandb
/wandb
*.json
.env
Dokerfile1
Dokerfile2
*.ipynb
/__pycache__
app_inference.py
app_streamlit.py
app_api.py
requirements_api.py

